In [174]:
# Data source https://www.kaggle.com/vaghefi/company-reviews/code

In [175]:
#What are the major factors for high rating company review

In [176]:
#What are the major factors for high rating company review

In [177]:
import ast
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
pd.options.display.max_rows = 50
## Install xlrd package to load Excel files
# conda install openpyxl
## conda install xlrdimport numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
import json

In [178]:
#review = Number of Reviews
#happiness = Happiness Ratings
#ceo_count = Number of Ratings for CEO
#ratings = Rating Breakdown

In [179]:
company_reviews_df= pd.read_csv("company_reviews.csv") ## Your Code here

company_reviews_df

,name,rating,reviews,description,happiness,ceo_approval,ceo_count,ratings,locations,roles,salary,interview_experience,interview_difficulty,interview_duration,interview_count,headquarters,employees,industry,revenue,website
0,Sitel,NaN,NaN,"Sitel Groupâ€™s 75,000 people across the globe c...","{'Work Happiness Score': '55', 'Achievement': ...",70%,"CEO Approval is based on 4,612 ratings","{'Work/Life Balance': '3.4', 'Compensation/Ben...","{'Paradise, NV': '5.0', 'Pioneer, OH': '4.7', ...","{'Tier 1 Agent': '5.0', 'Director of Operation...",{'Customer Service Representative': '$14.48 pe...,Favorable,Easy,About a day or two,Based on 645 interviews,"600 Brickell Ave Miami, FL 33131 Vereinigte St...","10,000+",Telecommunications,$1B to $5B (USD),Twitter\nFacebook\nSitel website
1,Meadowbrook Rehabilitation,3.7,21 reviews,You'll work with the most experienced and loya...,{},NaN,NaN,"{'Work/Life Balance': '4.1', 'Compensation/Ben...",{},{},{},Favorable,Easy,NaN,Based on 5 interviews,Illinois,NaN,Healthcare,NaN,Meadowbrook Rehabilitation website
2,Intermountain,4.0,23 reviews,Why Intermountain?\n\nWe Bring Hope\n\nWith ou...,{},88%,CEO Approval is based on 17 ratings,"{'Work/Life Balance': '3.5', 'Compensation/Ben...",{},{},{'Mental Health Technician': '$13.16 per hour'...,Favorable,Medium,About a day or two,Based on 8 interviews,"Headquarters: 3240 Dredge Dr. Helena, MT 59602",201 to 500,Healthcare,$5M to $25M (USD),Twitter\nFacebook\nIntermountain website
3,Smith & Nephew,NaN,NaN,It's more than business at Smith+Nephew - it's...,"{'Work Happiness Score': '65', 'Purpose': '71'...",76%,CEO Approval is based on 374 ratings,"{'Work/Life Balance': '3.5', 'Compensation/Ben...","{'Largo, FL': '4.5', 'Chicago, IL': '4.3', 'Sa...","{'Packaging Technician': '5.0', 'Senior Associ...","{'Packager': '$30,006 per year', 'Finisher': '...",Favorable,Medium,About a week,Based on 116 interviews,"Building 5, Croxley Park, Hatters Lane, Watfor...","10,000+",Healthcare,$1B to $5B (USD),Twitter\nFacebook\nSmith & Nephew website
4,Reverse Mortgage Funding,4.1,19 reviews,Reverse Mortgage Funding LLC is committed to e...,{},NaN,NaN,"{'Work/Life Balance': '4.2', 'Compensation/Ben...",{},{},{},Favorable,NaN,NaN,Based on 5 interviews,Bloomfield,11 to 50,Financial Services,$5M to $25M (USD),Reverse Mortgage Funding website
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17045,Billion Automotive,3.2,92 reviews,"Billion Automotive, a family owned business si...",{},69%,CEO Approval is based on 51 ratings,"{'Work/Life Balance': '3.1', 'Compensation/Ben...","{'Sioux City, IA': '3.8', 'Sioux Falls, SD': '...","{'Customer Service Representative': '4.0', 'In...","{'Sales Consultant': '$14.97 per hour', 'Sales...",Favorable,Medium,About a day or two,Based on 16 interviews,Locations Across the Upper Midwest In: South D...,"1,001 to 5,000",Automotive,NaN,Twitter\nFacebook\nBillion Automotive website
17046,ScienceLogic Inc,3.0,7 reviews,ScienceLogic is a leader in IT Operations Mana...,{},NaN,NaN,"{'Work/Life Balance': '3.4', 'Compensation/Ben...",{},{},"{'Software Engineer': '$118,680 per year', 'Ac...",Average,Medium,NaN,Based on 5 interviews,NaN,201 to 500,Information Technology,NaN,Twitter\nFacebook\nScienceLogic Inc website
17047,Northland PACE,2.5,11 reviews,Northland PACE Senior Care Services has at its...,{},NaN,NaN,"{'Work/Life Balance': '2.8', 'Compensation/Ben...",{},{},{},NaN,NaN,NaN,NaN,NaN,NaN,Healthcare,NaN,Facebook\nNorthland PACE website
17048,Lloyd Staffing,3.9,122 reviews,"At LLoyd, we are not just agents of talent, bu...",{},88%,CEO Approval is based on 33 ratings,"{'Work/Life Balance': '3.8', 'Compensation/Ben...","{'Great Neck, NY': '4.1', 'New Hyde Park, NY':...","{'Administrative Assistant': '4.2', 'Medical A...",{'Customer Service Representative': '$14.65 pe...,Average,Easy,About a day or two,Based on 14 interviews,"Corporate HQs: 445 Broadhollow Road, Suite 119...",51 to 200,Human Resources & Staffing,$25M to $100M (USD),Twitter\nFacebook\n...more
17049,"North Star Insurance Advisors, LLC",3.8,30 reviews,"North Star Insurance Advisors, LLC is a premiu...",{},NaN,NaN,"{'Work/Life Balance': '4.0', 'Compensation/Ben...",{},{},"{'Insurance Agent': '$70,844 per year', 'Sales...",NaN,NaN,NaN,NaN,"100 Mall Pkwy STE 100, Wentzville, MO 63385",51 to 200,Insurance,$5M to $25M (USD),"Facebook\nNorth Star Insurance Advisors, LLC w..."

In [180]:
list(company_reviews_df.columns)

['name',
 'rating',
 'reviews',
 'description',
 'happiness',
 'ceo_approval',
 'ceo_count',
 'ratings',
 'locations',
 'roles',
 'salary',
 'interview_experience',
 'interview_difficulty',
 'interview_duration',
 'interview_count',
 'headquarters',
 'employees',
 'industry',
 'revenue',
 'website']

In [181]:
company_reviews_df.isnull().sum()

name                     338
rating                  1434
reviews                 1556
description                1
happiness                  0
ceo_approval            5828
ceo_count               5828
ratings                    0
locations                  0
roles                      0
salary                     0
interview_experience    5551
interview_difficulty    5588
interview_duration      6728
interview_count         5551
headquarters            1820
employees               2027
industry                1846
revenue                 6873
website                  921
dtype: int64

In [182]:
# transform the string in dictionary
new_happiness=company_reviews_df['happiness'].apply(ast.literal_eval)
new_happiness

0        {'Work Happiness Score': '55', 'Achievement': ...
1                                                       {}
2                                                       {}
3        {'Work Happiness Score': '65', 'Purpose': '71'...
4                                                       {}
                               ...
17045                                                   {}
17046                                                   {}
17047                                                   {}
17048                                                   {}
17049                                                   {}
Name: happiness, Length: 17050, dtype: object

In [183]:
happiness_df=pd.json_normalize(new_happiness)
happiness_df

,Work Happiness Score,Achievement,Learning,Flexibility,Support,Compensation,Purpose,Appreciation,Management,Inclusion,Energy,Trust,Belonging
0,55,64,62,61,60,60,60,59,57,56,56,53,52
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,65,71,68,68,61,69,71,64,56,59,65,55,56
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
new_ratings=company_reviews_df['ratings'].apply(ast.literal_eval)
new_ratings

0        {'Work/Life Balance': '3.4', 'Compensation/Ben...
1        {'Work/Life Balance': '4.1', 'Compensation/Ben...
2        {'Work/Life Balance': '3.5', 'Compensation/Ben...
3        {'Work/Life Balance': '3.5', 'Compensation/Ben...
4        {'Work/Life Balance': '4.2', 'Compensation/Ben...
                               ...
17045    {'Work/Life Balance': '3.1', 'Compensation/Ben...
17046    {'Work/Life Balance': '3.4', 'Compensation/Ben...
17047    {'Work/Life Balance': '2.8', 'Compensation/Ben...
17048    {'Work/Life Balance': '3.8', 'Compensation/Ben...
17049    {'Work/Life Balance': '4.0', 'Compensation/Ben...
Name: ratings, Length: 17050, dtype: object

In [185]:
ratings_df=pd.json_normalize(new_ratings)
ratings_df

,Work/Life Balance,Compensation/Benefits,Job Security/Advancement,Management,Culture
0,3.4,3.2,3.2,3.2,3.3
1,4.1,3.6,3.4,3.4,3.6
2,3.5,3.4,4.0,4.0,4.1
3,3.5,3.7,3.1,3.1,3.4
4,4.2,3.9,3.6,4.3,4.3
...,...,...,...,...,...
17045,3.1,3.4,2.9,2.9,3.0
17046,3.4,4.0,2.9,3.0,2.9
17047,2.8,2.5,2.5,2.3,2.4
17048,3.8,3.1,3.1,3.6,3.6
17049,4.0,3.9,3.8,3.9,4.0

In [186]:
new_locations = company_reviews_df['locations'].apply(ast.literal_eval)
new_locations

0        {'Paradise, NV': '5.0', 'Pioneer, OH': '4.7', ...
1                                                       {}
2                                                       {}
3        {'Largo, FL': '4.5', 'Chicago, IL': '4.3', 'Sa...
4                                                       {}
                               ...
17045    {'Sioux City, IA': '3.8', 'Sioux Falls, SD': '...
17046                                                   {}
17047                                                   {}
17048    {'Great Neck, NY': '4.1', 'New Hyde Park, NY':...
17049                                                   {}
Name: locations, Length: 17050, dtype: object

In [198]:
locations_df=pd.json_normalize(new_locations)
locations_df

,"Paradise, NV","Pioneer, OH","Morocco, IN","Kingston, NY","Bartlett, TN","Largo, FL","Chicago, IL","San Antonio, TX","Saint Petersburg, FL","Phoenix, AZ",...,"Chelsea, MA","Winnebago, WI","Nederland, TX","Marcus Hook, PA","Hemlock, MI","Pacifica, CA","Holladay, UT","Fostoria, OH","Eddyville, KY","Clear Lake, IA"
0,5.0,4.7,4.6,4.6,4.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,4.5,4.3,4.3,4.1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.3
17046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
def lower_case_column_names(locations_df):
    locations_df.columns=[i.lower() for i in locations_df.columns]
    return locations_df

In [202]:
lower_case_column_names(locations_df)

,"paradise, nv","pioneer, oh","morocco, in","kingston, ny","bartlett, tn","largo, fl","chicago, il","san antonio, tx","saint petersburg, fl","phoenix, az",...,"chelsea, ma","winnebago, wi","nederland, tx","marcus hook, pa","hemlock, mi","pacifica, ca","holladay, ut","fostoria, oh","eddyville, ky","clear lake, ia"
0,5.0,4.7,4.6,4.6,4.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,4.5,4.3,4.3,4.1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.3
17046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
column_names = ("city,nv")

In [157]:
column_names.split(",")[1]

'nv'

In [207]:
locations_df.columns

Index(['paradise, nv', 'pioneer, oh', 'morocco, in', 'kingston, ny',
       'bartlett, tn', 'largo, fl', 'chicago, il', 'san antonio, tx',
       'saint petersburg, fl', 'phoenix, az',
       ...
       'chelsea, ma', 'winnebago, wi', 'nederland, tx', 'marcus hook, pa',
       'hemlock, mi', 'pacifica, ca', 'holladay, ut', 'fostoria, oh',
       'eddyville, ky', 'clear lake, ia'],
      dtype='object', length=6111)

In [211]:
locations_df.columns.tolist() # get the names of the columns as a list from pandas dataframe

['paradise, nv',
 'pioneer, oh',
 'morocco, in',
 'kingston, ny',
 'bartlett, tn',
 'largo, fl',
 'chicago, il',
 'san antonio, tx',
 'saint petersburg, fl',
 'phoenix, az',
 'scottsdale, az',
 'las vegas, nv',
 'new york, ny',
 'san diego, ca',
 'rocklin, ca',
 'new braunfels, tx',
 'boerne, tx',
 'henderson, nv',
 'el paso, tx',
 'biloxi, ms',
 'kilgore, tx',
 'fort worth, tx',
 'savannah, ga',
 'smyrna, ga',
 'atlanta, ga',
 'midvale, ut',
 'salt lake city, ut',
 'fort lauderdale, fl',
 'boca raton, fl',
 'allendale, mi',
 'grand rapids, mi',
 'traverse city, mi',
 'morrisville, nc',
 'salem, va',
 'milwaukee, wi',
 'research triangle park, nc',
 'blair, ne',
 'neenah, wi',
 'wisconsin rapids, wi',
 'menasha, wi',
 'appleton, wi',
 'jerome, id',
 'troy, mi',
 'winston-salem, nc',
 'stockton, ca',
 'iowa city, ia',
 'gainesville, fl',
 'oakland, ca',
 'alameda, ca',
 'rohnert park, ca',
 'san bruno, ca',
 'rock hill, sc',
 'topeka, ks',
 'clovis, nm',
 'spartanburg, sc',
 'spring house, pa',
 'new bern, nc',
 'columbus, nc',
 'ambler, pa',
 'richmond, va',
 'westlake, tx',
 'new brunswick, nj',
 'redwood, ca',
 'jacksonville, fl',
 'indianapolis, in',
 'orlando, fl',
 'redwood city, ca',
 'anderson, in',
 'carmel, in',
 'noblesville, in',
 'maumee, oh',
 'northwood, oh',
 'lansing, mi',
 'fremont, oh',
 'temperance, mi',
 'fitchburg, wi',
 'orland park, il',
 'torrance, ca',
 'doral, fl',
 'mira mesa, ca',
 'dallas, tx',
 'cleburne, tx',
 'beloit, wi',
 'new kensington, pa',
 'clifton, nj',
 'rocky hill, ct',
 'hornell, ny',
 'naples, fl',
 'monroe, mi',
 'hopkinsville, ky',
 'kalamazoo, mi',
 'solon, oh',
 'queens, ny',
 'manhattan, ny',
 'bronx, ny',
 'white plains, ny',
 'mishawaka, in',
 'independence, mo',
 'portage, mi',
 'fort dodge, ia',
 'cottage grove, mn',
 'atchison, ks',
 'bar harbor, me',
 'covington, va',
 'sandwich, ma',
 'grove, ok',
 'gilbert, az',
 'mooresville, nc',
 'mesa, az',
 'roxboro, nc',
 'matawan, nj',
 'huntington park, ca',
 'dawsonville, ga',
 'huntington beach, ca',
 'brooklyn, ny',
 'harlem, fl',
 'tampa, fl',
 'greensboro, nc',
 'austin, tx',
 'baltimore, md',
 'newark, ca',
 'denver, co',
 'national city, ca',
 'port hueneme, ca',
 'industry, ca',
 'cudahy, ca',
 'rancho cucamonga, ca',
 'azusa, ca',
 'sandy springs, ga',
 'plano, tx',
 'coppell, tx',
 'remote',
 'boston, ma',
 'grenada, ms',
 'west monroe, la',
 'alpharetta, ga',
 'brandon, ms',
 'coral gables, fl',
 'san jose, ca',
 'castro valley, ca',
 'pleasanton, ca',
 'brentwood, ca',
 'arlington, va',
 'manassas, va',
 'mason, oh',
 'fairfax, va',
 'valencia, ca',
 'temecula, ca',
 'lynnwood, wa',
 'santa ana, ca',
 'montclair, ca',
 'riverside, ca',
 'hickory, nc',
 'aberdeen, md',
 'perris, ca',
 'oxford, al',
 'detroit, mi',
 'eastaboga, al',
 'warren, mi',
 'allentown, pa',
 'williamstown, nj',
 'westfield, nj',
 'dayton, nj',
 'new milford, nj',
 'glastonbury, ct',
 'seekonk, ma',
 'milford, ct',
 'wareham, ma',
 'concord, nh',
 'peoria, az',
 'frisco, tx',
 'boise, id',
 'roswell, ga',
 'circle pines, mn',
 'princeton, nj',
 'madison, ny',
 'miami, fl',
 'london, oh',
 'duarte, ca',
 'la caÃ±ada flintridge, ca',
 'ventura, ca',
 'granada hills, ca',
 'pasadena, ca',
 'levittown, ny',
 'monroeville, pa',
 'south gate, ca',
 'warwick, ri',
 'rowland heights, ca',
 'memphis, tn',
 'pico rivera, ca',
 'whittier, ca',
 'charlotte, nc',
 'versailles, oh',
 'jackson, tn',
 'harrisville, wv',
 'amarillo, tx',
 'lake city, fl',
 'shreveport, la',
 'harrisburg, pa',
 'camp hill, pa',
 'spring grove, pa',
 'bethesda, md',
 'el segundo, ca',
 'glenview, il',
 'sherman oaks, ca',
 'schaumburg, il',
 'northbrook, il',
 'downers grove, il',
 'chatsworth, ga',
 'charleston, sc',
 'bourbonnais, il',
 'kankakee, il',
 'bradley, il',
 'king of prussia, pa',
 'wilmington, oh',
 'grapevine, tx',
 'plainfield, in',
 'newport news, va',
 'gloucester, va',
 'hampton, va',
 'kilmarnock, va',
 'yorktown, va',
 'walnut creek, ca',
 'inverness, fl',
 'dedham, ma',
 'portland, me',
 'newburgh, ny',
 'goshen, ny',
 'middletown, ny',
 'cincinnati, oh',
 'ocala, fl',
 'windsor, ct',
 'cape girardeau, mo',
 'springfield, mo',
 'west plains, mo',
 'conway, ar',
 'little rock, ar',
 'fayetteville, ar',
 'lakewood, wa',
 'west jordan, ut',
 'west palm beach, fl',
 'port jefferson station, ny',
 'babylon, ny',
 'ann arbor, mi',
 'midland, mi',
 'port huron, mi',
 'springfield, or',
 'bend, or',
 'eugene, or',
 'cockeysville, md',
 'slidell, la',
 'new orleans, la',
 'wilmington, ma',
 'lubbock, tx',
 'milford, ma',
 'morgantown, wv',
 'northborough, ma',
 'collinsville, il',
 'bradenton, fl',
 'orange, ca',
 'raleigh, nc',
 'myrtle beach, sc',
 'west des moines, ia',
 'philadelphia, pa',
 'wilkes-barre, pa',
 'wilson, nc',
 'winchester, va',
 'lancaster, pa',
 'north las vegas, nv',
 'green valley, az',
 'edmond, ok',
 'enid, ok',
 'oklahoma city, ok',
 'miami, ok',
 'yukon, ok',
 'erie, pa',
 'pittsburgh, pa',
 'bridgeville, pa',
 'corry, pa',
 'mayfield heights, oh',
 'cleveland, oh',
 'arlington, tx',
 'camp pendleton, ca',
 'ozark, al',
 'roanoke, va',
 'virginia beach, va',
 'norfolk, va',
 'killeen, tx',
 'lemoore, ca',
 'chesapeake, va',
 'silverdale, wa',
 'bossier city, la',
 'fort washington, pa',
 'flint, mi',
 'delta, oh',
 'san angelo, tx',
 'saginaw, mi',
 'marlborough, ma',
 'olive branch, ms',
 'horn lake, ms',
 'vail, co',
 'henderson, co',
 'hoffman estates, il',
 'aurora, il',
 'bloomingdale, il',
 'cicero, il',
 'steilacoom, wa',
 'tacoma, wa',
 'staunton, va',
 'bowling green, ky',
 'minneapolis, mn',
 'elkhart, in',
 'rochester, ny',
 'gresham, or',
 'lacey, wa',
 'portland, or',
 'wood dale, il',
 'lisle, il',
 'farmington hills, mi',
 'kansas city, ks',
 'kansas city, mo',
 'overland park, ks',
 'camden, nj',
 'meridian, ms',
 'marlton, nj',
 'lodi, ca',
 'agoura hills, ca',
 'hauppauge, ny',
 'camarillo, ca',
 'kentwood, mi',
 'san francisco, ca',
 'rockledge, fl',
 'strasburg, va',
 'greenville, sc',
 'spokane, wa',
 'milwaukie, or',
 'anaheim, ca',
 'cambridge, ma',
 'rockville, md',
 'washington, dc',
 'akron, oh',
 'homewood, al',
 'omaha, ne',
 'kenner, la',
 'forest park, oh',
 'lincoln, ne',
 'fort wayne, in',
 'clute, tx',
 'la porte, tx',
 'fort gibson, ok',
 'wharton, nj',
 'ontario, ca',
 'edwardsville, il',
 'breinigsville, pa',
 'burien, wa',
 'davis, ca',
 'hemet, ca',
 'weed, ca',
 'katy, tx',
 'kissimmee, fl',
 'houston, tx',
 'skokie, il',
 'long beach, ca',
 'lynwood, ca',
 'los angeles, ca',
 'branson, mo',
 'calexico, ca',
 'clarksburg, md',
 'kittery, me',
 'waterbury, ct',
 'elgin, il',
 'conway, sc',
 'west columbia, sc',
 'irmo, sc',
 'bluffton, sc',
 'hernando, ms',
 'nashville, tn',
 'lexington, ky',
 'provo, ut',
 'springville, ut',
 'orem, ut',
 'union city, ga',
 'lithia springs, ga',
 'kennesaw, ga',
 'acworth, ga',
 'fort myers, fl',
 'melbourne, fl',
 'lakeland, fl',
 'lake success, ny',
 'new hyde park, ny',
 'staten island, ny',
 'long island, ny',
 'ludington, mi',
 'hart, mi',
 'jackson, mi',
 'dafter, mi',
 'augusta, ga',
 'garden grove, ca',
 'des moines, ia',
 'goodyear, az',
 'west allis, wi',
 'wells, mn',
 'elkhorn, wi',
 'germantown, wi',
 'manitowoc, wi',
 'weston, wi',
 'deforest, wi',
 'glen burnie, md',
 'arnold, md',
 'hanover, md',
 'tempe, az',
 'st. louis, mo',
 'sacramento, ca',
 'newark, nj',
 'wixom, mi',
 'birmingham, al',
 'mercedes, tx',
 'gilroy, ca',
 'wrentham, ma',
 'southlake, tx',
 'brentwood, tn',
 'florence, sc',
 'melville, ny',
 'bakersfield, ca',
 'avon, oh',
 'tonawanda, ny',
 'niagara falls, ny',
 'buffalo, ny',
 'smithtown, ny',
 'stony brook, ny',
 'bellevue, wa',
 'waltham, ma',
 'enfield, ct',
 'santa barbara, ca',
 'grand prairie, tx',
 'lancaster, ca',
 'union city, ca',
 'woodbridge, va',
 'irving, tx',
 'south bend, in',
 'saint george, ut',
 'statesboro, ga',
 'owatonna, mn',
 'riverdale, nj',
 'springfield, tn',
 'durham, nc',
 'sandston, va',
 'elk city, ok',
 'odessa, tx',
 'linden, pa',
 'dickinson, nd',
 'lees summit, mo',
 'lawton, ok',
 "lee's summit, mo",
 'broomfield, co',
 'richardson, tx',
 'pasco, wa',
 'hillsboro, or',
 'halifax, nc',
 'beaverton, or',
 'fairfield, ca',
 'township of hamilton, nj',
 'secaucus, nj',
 'bethpage, ny',
 'mamaroneck, ny',
 'lodi, nj',
 'maywood, nj',
 'uniondale, ny',
 'port charlotte, fl',
 'winfield, ks',
 'garden city, ks',
 'morton, il',
 'wanatah, in',
 'dublin, oh',
 'great river, ny',
 'rockford, il',
 'norwich, ct',
 'sarasota, fl',
 'framingham, ma',
 'sandusky, oh',
 'rochester, wa',
 'medford, nj',
 'malibu, ca',
 'monticello, ny',
 'pacific, mo',
 'lexington, sc',
 'abbeville, sc',
 'schuylkill haven, pa',
 'claremont, nc',
 'buena park, ca',
 'palm springs, ca',
 'laguardia airport, ny',
 'lindenhurst, ny',
 'massapequa, ny',
 'farmingdale, ny',
 'dearborn, mi',
 'brighton, mi',
 'dearborn heights, mi',
 'taylor, mi',
 'sioux city, ia',
 'plover, wi',
 'mason city, ia',
 'bloomington, il',
 'price, ut',
 'taylorsville, ut',
 'towanda, pa',
 'danville, va',
 'hammond, in',
 'coleman, mi',
 'paris, tx',
 'albertville, al',
 'anchorage, ak',
 'georgetown, de',
 'lake charles, la',
 'carthage, ms',
 'warsaw, in',
 'fayetteville, nc',
 'faribault, mn',
 'tyndall afb, fl',
 'lakehurst, nj',
 'valdosta, ga',
 'homestead, fl',
 'hialeah, fl',
 'kendall, fl',
 'glendale, az',
 'chandler, az',
 'franklin, tn',
 'metairie, la',
 'jackson, ms',
 'venice, ca',
 'palo alto, ca',
 'carson, ca',
 'jessup, pa',
 'fishers, in',
 'conroe, tx',
 'rosenberg, tx',
 'pasadena, tx',
 'edinburg, tx',
 'brownsville, tx',
 'weslaco, tx',
 'mission, tx',
 'san benito, tx',
 'hartsville, sc',
 'warner robins, ga',
 'clearwater, fl',
 'midway, fl',
 'quincy, fl',
 'new port richey, fl',
 'harlingen, tx',
 'butte, mt',
 'maryland heights, mo',
 'west covina, ca',
 'sioux center, ia',
 'warrenville, il',
 'fairfield, oh',
 'pella, ia',
 'peabody, ks',
 'pratt, ks',
 'arma, ks',
 'columbus, wi',
 'newnan, ga',
 'carthage, tn',
 'gordonsville, tn',
 'niles, mi',
 'clearfield, ut',
 'joint base lewis mcchord, wa',
 'cannon afb, nm',
 'fort bragg, nc',
 'edinburgh, in',
 'fort irwin, ca',
 'mundelein, il',
 'brooks, or',
 'salem, or',
 'stayton, or',
 'san francisco bay area, ca',
 'salinas, ca',
 'modesto, ca',
 'west burlington, ia',
 'martins creek, pa',
 'burlington, ia',
 'reno, nv',
 'eden prairie, mn',
 'buford, ga',
 'deland, fl',
 'deltona, fl',
 'port orange, fl',
 'daytona beach, fl',
 'wildwood, fl',
 'salem, sc',
 'dunwoody, ga',
 'kings mountain, nc',
 'key west, fl',
 'nokomis, fl',
 'venice, fl',
 'matthews, nc',
 'huntersville, nc',
 'mobile, al',
 'cookeville, tn',
 'new rochelle, ny',
 'timonium, md',
 'freeland, mi',
 'naperville, il',
 'crystal lake, il',
 'manhattan beach, ca',
 'pompano beach, fl',
 'kent, wa',
 'norristown, pa',
 'titusville, fl',
 'maiden, nc',
 'culver city, ca',
 'lake worth, fl',
 'ridgewood, ny',
 'ridgefield, ct',
 'pembroke park, fl',
 'east peoria, il',
 'peoria, il',
 'bartonville, il',
 'mossville, il',
 'delavan, il',
 'lebanon, ky',
 'marion, va',
 'jamestown, ca',
 'marshall, tx',
 'circleville, oh',
 'bellevue, ne',
 'tukwila, wa',
 'lower burrell, pa',
 'houston, pa',
 'beaver falls, pa',
 'springdale, pa',
 'flat rock, mi',
 'homewood, il',
 'woodhaven, mi',
 'gulfport, ms',
 'victor, ny',
 'stamford, ct',
 'wichita, ks',
 'columbia, sc',
 'colorado springs, co',
 'fort collins, co',
 'idaho falls, id',
 'lewiston, id',
 'fresno, ca',
 'livermore, ca',
 'green tree, pa',
 'state college, pa',
 'bellmore, ny',
 'berkeley heights, nj',
 'west nyack, ny',
 'freetown, ma',
 'wappingers falls, ny',
 'oak ridge, tn',
 'auburn, nh',
 'baton rouge, la',
 'copiague, ny',
 'lowell, ma',
 'centreville, va',
 'marysville, oh',
 'east liberty, oh',
 'anna, oh',
 'maple grove, mn',
 'blaine, mn',
 'hibbing, mn',
 'edina, mn',
 'burnsville, mn',
 'lawrenceville, ga',
 'duluth, ga',
 'cedar rapids, ia',
 'delaware, oh',
 'urbana, oh',
 'mount vernon, oh',
 'calera, al',
 'youngstown, oh',
 'lorain, oh',
 'gaston, sc',
 'salmon creek, wa',
 'valley, wa',
 'garden city, id',
 'shelton, wa',
 'hazleton, pa',
 'elkin, nc',
 'north wilkesboro, nc',
 'hearne, tx',
 'summerville, sc',
 'mountain view, ca',
 'menlo park, ca',
 'santa clara, ca',
 'skowhegan, me',
 'windsor locks, ct',
 'rahway, nj',
 'elizabeth, nj',
 'laredo, tx',
 'san clemente, ca',
 'lake oswego, or',
 'williamsburg, va',
 'township of liberty, oh',
 'independence, ky',
 'springdale, oh',
 'westminster, md',
 'gaithersburg, md',
 'hagerstown, md',
 'lenoir, nc',
 'micaville, nc',
 'verona, ms',
 'fort valley, ga',
 'pittsburg, ca',
 'pleasant hill, ca',
 'concord, ca',
 'martinez, ca',
 'san pablo, ca',
 'east chicago, in',
 'sheldon, tx',
 'el dorado, ks',
 'galena park, tx',
 'long grove, il',
 'rancho cordova, ca',
 'westport, ct',
 'twinsburg, oh',
 'cuyahoga falls, oh',
 'norwalk, ct',
 'brewster, ma',
 'denton, tx',
 'tyler, tx',
 'san carlos, ca',
 "o'fallon, mo",
 'irvine, ca',
 'galesburg, il',
 'poplar bluff, mo',
 'gary, in',
 'morris, il',
 'waukegan, il',
 'toppenish, wa',
 'yakima, wa',
 'sunnyside, wa',
 'somerville, nj',
 'graham, nc',
 'alexandria, va',
 'midway, ky',
 'brookline, ma',
 'southborough, ma',
 'center, tx',
 'chester, va',
 'louisburg, nc',
 'muscatine, ia',
 'florence, al',
 'mckees rocks, pa',
 'aliquippa, pa',
 'beaver, pa',
 'rochester, mn',
 'chaska, mn',
 'sioux falls, sd',
 'maplewood, mn',
 'louisville, ky',
 'albuquerque, nm',
 'madison, wi',
 'tupelo, ms',
 'southaven, ms',
 'oxford, ms',
 'hall, ny',
 'tracy, ca',
 'oxnard, ca',
 'tustin, ca',
 'inglewood, ca',
 'fort benning, ga',
 'springfield, va',
 'hanford, ca',
 'takoma park, md',
 'glendale, ca',
 'east point, ga',
 'burbank, ca',
 'van nuys, ca',
 'west memphis, ar',
 'murray, ky',
 'tucson, az',
 'lenexa, ks',
 'olathe, ks',
 'yarmouth, me',
 'manville, nj',
 'cranberry township, pa',
 'fredericksburg, va',
 'grimes, ia',
 'palatka, fl',
 'saint augustine, fl',
 'orange park, fl',
 'canton, ma',
 'el dorado hills, ca',
 'lawrence, ks',
 'medford, ma',
 'clarksville, tn',
 'sebring, fl',
 'homerville, ga',
 'miami gardens, fl',
 'new berlin, wi',
 'barnesville, oh',
 'hamden, ct',
 'deerfield beach, fl',
 'tamarac, fl',
 'delray beach, fl',
 'tallahassee, fl',
 'port matilda, pa',
 'moosic, pa',
 'clarks summit, pa',
 'montoursville, pa',
 'puyallup, wa',
 'tualatin, or',
 'stanwood, wa',
 'lake stevens, wa',
 'oregon city, or',
 'catonsville, md',
 'mount laurel, nj',
 'nottingham, md',
 'arlington, ma',
 'severna park, md',
 'sedalia, mo',
 'pulaski, tn',
 'bryan, oh',
 'portland, tn',
 'ridgeville corners, oh',
 'muncie, in',
 'ogden, ut',
 'kennewick, wa',
 'meridian, id',
 'columbus, oh',
 'newton, il',
 'bangor, me',
 'newington, ct',
 'coral springs, fl',
 'northumberland, pa',
 'ashtabula, oh',
 'melvindale, mi',
 'new haven, in',
 'kalispell, mt',
 'corbin, ky',
 'norwich, ny',
 'new berlin, ny',
 'twin falls, id',
 'pulaski, va',
 'plant city, fl',
 'sparks, nv',
 'waxahachie, tx',
 'reston, va',
 'pomona, ca',
 'san bernardino, ca',
 'trenton, nj',
 'newark, oh',
 'vallejo, ca',
 'eufaula, al',
 'boulder, co',
 'wallingford, ct',
 'castleton, in',
 'kings mills, oh',
 'muskegon, mi',
 'fort mill, sc',
 'aurora, oh',
 'simi valley, ca',
 'fountain valley, ca',
 'pocatello, id',
 'chantilly, va',
 'somerset, nj',
 'edison, nj',
 'lake park, fl',
 'pensacola, fl',
 'leesburg, fl',
 'beaumont, tx',
 'brockton, ma',
 'quincy, ma',
 'goshen, in',
 'griffin, ga',
 'blanding, ut',
 'vernal, ut',
 'logan, ut',
 'gastonia, nc',
 'norcross, ga',
 'stow, oh',
 'scranton, pa',
 'columbus, in',
 'chicago heights, il',
 'jeffersonville, in',
 'portage, in',
 'cheyenne, wy',
 'saint paul, mn',
 'harrison, ar',
 'bedford, tx',
 'university park, fl',
 'west, tx',
 'carson city, nv',
 'sandy creek, ny',
 'crestview, fl',
 'lebanon, tn',
 'elizabethton, tn',
 'rockwood, tn',
 'rockdale, tx',
 'farmington, mo',
 'garland, tx',
 'dallas-fort worth, tx',
 'farmington, ct',
 'new castle, de',
 'hiawatha, ks',
 'beatrice, ne',
 'corpus christi, tx',
 'el dorado, ar',
 'marrero, la',
 'duncan, ok',
 'sallisaw, ok',
 'merced, ca',
 'belmont, nc',
 'stanley, nc',
 'apache junction, az',
 'douglas, az',
 'buckeye, az',
 'prescott valley, az',
 'ewing, nj',
 'waipahu, hi',
 'bohemia, ny',
 'south river, nj',
 'swedesboro, nj',
 'belle chasse, la',
 'bedford, ma',
 'bagdad, az',
 'columbus, ms',
 'temple, tx',
 'milpitas, ca',
 'draper, ut',
 'san pedro, ca',
 'waianae, hi',
 'greenwood village, co',
 'ladera heights, ca',
 'bedford, pa',
 'kingman, az',
 'cottonwood, az',
 'yuma, az',
 'manchester, ct',
 'west springfield, ma',
 'turners falls, ma',
 'fort ann, ny',
 'willimantic, ct',
 'east stroudsburg, pa',
 'elyria, oh',
 'north ridgeville, oh',
 'canton, ga',
 'cartersville, ga',
 'rome, ga',
 'dalton, ga',
 'cedartown, ga',
 'murray, ut',
 'clinton, ut',
 'tooele, ut',
 'underwood, ia',
 'new glarus, wi',
 'minong, wi',
 'mankato, mn',
 'adrian, mi',
 'sturgis, mi',
 'mechanicsburg, pa',
 'plymouth, mn',
 'high point, nc',
 'allen, tx',
 'college station, tx',
 'spring, tx',
 'woodbury, ny',
 'san juan, pr',
 'berwyn, pa',
 'chesterbrook, pa',
 'sleepy eye, mn',
 'red wing, mn',
 'college park, md',
 'mount rainier, md',
 'accokeek, md',
 'springdale, md',
 'adelphi, md',
 'maspeth, ny',
 'niles, il',
 'brunswick, ga',
 'columbus, ga',
 'carolina, pr',
 'san ramon, ca',
 'north canton, oh',
 'el reno, ok',
 'weatherford, ok',
 'carrizo springs, tx',
 'champaign, il',
 'ardmore, ok',
 'sweeny, tx',
 'old ocean, tx',
 'port arthur, tx',
 'burlington, nc',
 'greer, sc',
 'stafford, tx',
 'phenix city, al',
 'red oak, tx',
 'rockport, tx',
 'roanoke, in',
 'belvidere, il',
 'apex, nc',
 'flowery branch, ga',
 'redmond, wa',
 'middletown, de',
 'arcadia, ca',
 'monrovia, ca',
 'chesterfield, va',
 ...]

In [213]:
locations_df.columns.str

In [214]:
locations_df.columns.str.split(',')

Index([        ['paradise', ' nv'],          ['pioneer', ' oh'],
                ['morocco', ' in'],         ['kingston', ' ny'],
               ['bartlett', ' tn'],            ['largo', ' fl'],
                ['chicago', ' il'],      ['san antonio', ' tx'],
       ['saint petersburg', ' fl'],          ['phoenix', ' az'],
       ...
                ['chelsea', ' ma'],        ['winnebago', ' wi'],
              ['nederland', ' tx'],      ['marcus hook', ' pa'],
                ['hemlock', ' mi'],         ['pacifica', ' ca'],
               ['holladay', ' ut'],         ['fostoria', ' oh'],
              ['eddyville', ' ky'],       ['clear lake', ' ia']],
      dtype='object', length=6111)

In [215]:
locations_df.columns.str.split(',').str[1]

Index([' nv', ' oh', ' in', ' ny', ' tn', ' fl', ' il', ' tx', ' fl', ' az',
       ...
       ' ma', ' wi', ' tx', ' pa', ' mi', ' ca', ' ut', ' oh', ' ky', ' ia'],
      dtype='object', length=6111)

In [219]:
locations_df.columns.str.split(',').str[1].tolist()

[' nv',
 ' oh',
 ' in',
 ' ny',
 ' tn',
 ' fl',
 ' il',
 ' tx',
 ' fl',
 ' az',
 ' az',
 ' nv',
 ' ny',
 ' ca',
 ' ca',
 ' tx',
 ' tx',
 ' nv',
 ' tx',
 ' ms',
 ' tx',
 ' tx',
 ' ga',
 ' ga',
 ' ga',
 ' ut',
 ' ut',
 ' fl',
 ' fl',
 ' mi',
 ' mi',
 ' mi',
 ' nc',
 ' va',
 ' wi',
 ' nc',
 ' ne',
 ' wi',
 ' wi',
 ' wi',
 ' wi',
 ' id',
 ' mi',
 ' nc',
 ' ca',
 ' ia',
 ' fl',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' sc',
 ' ks',
 ' nm',
 ' sc',
 ' pa',
 ' nc',
 ' nc',
 ' pa',
 ' va',
 ' tx',
 ' nj',
 ' ca',
 ' fl',
 ' in',
 ' fl',
 ' ca',
 ' in',
 ' in',
 ' in',
 ' oh',
 ' oh',
 ' mi',
 ' oh',
 ' mi',
 ' wi',
 ' il',
 ' ca',
 ' fl',
 ' ca',
 ' tx',
 ' tx',
 ' wi',
 ' pa',
 ' nj',
 ' ct',
 ' ny',
 ' fl',
 ' mi',
 ' ky',
 ' mi',
 ' oh',
 ' ny',
 ' ny',
 ' ny',
 ' ny',
 ' in',
 ' mo',
 ' mi',
 ' ia',
 ' mn',
 ' ks',
 ' me',
 ' va',
 ' ma',
 ' ok',
 ' az',
 ' nc',
 ' az',
 ' nc',
 ' nj',
 ' ca',
 ' ga',
 ' ca',
 ' ny',
 ' fl',
 ' fl',
 ' nc',
 ' tx',
 ' md',
 ' ca',
 ' co',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' ga',
 ' tx',
 ' tx',
 nan,
 ' ma',
 ' ms',
 ' la',
 ' ga',
 ' ms',
 ' fl',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' va',
 ' va',
 ' oh',
 ' va',
 ' ca',
 ' ca',
 ' wa',
 ' ca',
 ' ca',
 ' ca',
 ' nc',
 ' md',
 ' ca',
 ' al',
 ' mi',
 ' al',
 ' mi',
 ' pa',
 ' nj',
 ' nj',
 ' nj',
 ' nj',
 ' ct',
 ' ma',
 ' ct',
 ' ma',
 ' nh',
 ' az',
 ' tx',
 ' id',
 ' ga',
 ' mn',
 ' nj',
 ' ny',
 ' fl',
 ' oh',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' ny',
 ' pa',
 ' ca',
 ' ri',
 ' ca',
 ' tn',
 ' ca',
 ' ca',
 ' nc',
 ' oh',
 ' tn',
 ' wv',
 ' tx',
 ' fl',
 ' la',
 ' pa',
 ' pa',
 ' pa',
 ' md',
 ' ca',
 ' il',
 ' ca',
 ' il',
 ' il',
 ' il',
 ' ga',
 ' sc',
 ' il',
 ' il',
 ' il',
 ' pa',
 ' oh',
 ' tx',
 ' in',
 ' va',
 ' va',
 ' va',
 ' va',
 ' va',
 ' ca',
 ' fl',
 ' ma',
 ' me',
 ' ny',
 ' ny',
 ' ny',
 ' oh',
 ' fl',
 ' ct',
 ' mo',
 ' mo',
 ' mo',
 ' ar',
 ' ar',
 ' ar',
 ' wa',
 ' ut',
 ' fl',
 ' ny',
 ' ny',
 ' mi',
 ' mi',
 ' mi',
 ' or',
 ' or',
 ' or',
 ' md',
 ' la',
 ' la',
 ' ma',
 ' tx',
 ' ma',
 ' wv',
 ' ma',
 ' il',
 ' fl',
 ' ca',
 ' nc',
 ' sc',
 ' ia',
 ' pa',
 ' pa',
 ' nc',
 ' va',
 ' pa',
 ' nv',
 ' az',
 ' ok',
 ' ok',
 ' ok',
 ' ok',
 ' ok',
 ' pa',
 ' pa',
 ' pa',
 ' pa',
 ' oh',
 ' oh',
 ' tx',
 ' ca',
 ' al',
 ' va',
 ' va',
 ' va',
 ' tx',
 ' ca',
 ' va',
 ' wa',
 ' la',
 ' pa',
 ' mi',
 ' oh',
 ' tx',
 ' mi',
 ' ma',
 ' ms',
 ' ms',
 ' co',
 ' co',
 ' il',
 ' il',
 ' il',
 ' il',
 ' wa',
 ' wa',
 ' va',
 ' ky',
 ' mn',
 ' in',
 ' ny',
 ' or',
 ' wa',
 ' or',
 ' il',
 ' il',
 ' mi',
 ' ks',
 ' mo',
 ' ks',
 ' nj',
 ' ms',
 ' nj',
 ' ca',
 ' ca',
 ' ny',
 ' ca',
 ' mi',
 ' ca',
 ' fl',
 ' va',
 ' sc',
 ' wa',
 ' or',
 ' ca',
 ' ma',
 ' md',
 ' dc',
 ' oh',
 ' al',
 ' ne',
 ' la',
 ' oh',
 ' ne',
 ' in',
 ' tx',
 ' tx',
 ' ok',
 ' nj',
 ' ca',
 ' il',
 ' pa',
 ' wa',
 ' ca',
 ' ca',
 ' ca',
 ' tx',
 ' fl',
 ' tx',
 ' il',
 ' ca',
 ' ca',
 ' ca',
 ' mo',
 ' ca',
 ' md',
 ' me',
 ' ct',
 ' il',
 ' sc',
 ' sc',
 ' sc',
 ' sc',
 ' ms',
 ' tn',
 ' ky',
 ' ut',
 ' ut',
 ' ut',
 ' ga',
 ' ga',
 ' ga',
 ' ga',
 ' fl',
 ' fl',
 ' fl',
 ' ny',
 ' ny',
 ' ny',
 ' ny',
 ' mi',
 ' mi',
 ' mi',
 ' mi',
 ' ga',
 ' ca',
 ' ia',
 ' az',
 ' wi',
 ' mn',
 ' wi',
 ' wi',
 ' wi',
 ' wi',
 ' wi',
 ' md',
 ' md',
 ' md',
 ' az',
 ' mo',
 ' ca',
 ' nj',
 ' mi',
 ' al',
 ' tx',
 ' ca',
 ' ma',
 ' tx',
 ' tn',
 ' sc',
 ' ny',
 ' ca',
 ' oh',
 ' ny',
 ' ny',
 ' ny',
 ' ny',
 ' ny',
 ' wa',
 ' ma',
 ' ct',
 ' ca',
 ' tx',
 ' ca',
 ' ca',
 ' va',
 ' tx',
 ' in',
 ' ut',
 ' ga',
 ' mn',
 ' nj',
 ' tn',
 ' nc',
 ' va',
 ' ok',
 ' tx',
 ' pa',
 ' nd',
 ' mo',
 ' ok',
 ' mo',
 ' co',
 ' tx',
 ' wa',
 ' or',
 ' nc',
 ' or',
 ' ca',
 ' nj',
 ' nj',
 ' ny',
 ' ny',
 ' nj',
 ' nj',
 ' ny',
 ' fl',
 ' ks',
 ' ks',
 ' il',
 ' in',
 ' oh',
 ' ny',
 ' il',
 ' ct',
 ' fl',
 ' ma',
 ' oh',
 ' wa',
 ' nj',
 ' ca',
 ' ny',
 ' mo',
 ' sc',
 ' sc',
 ' pa',
 ' nc',
 ' ca',
 ' ca',
 ' ny',
 ' ny',
 ' ny',
 ' ny',
 ' mi',
 ' mi',
 ' mi',
 ' mi',
 ' ia',
 ' wi',
 ' ia',
 ' il',
 ' ut',
 ' ut',
 ' pa',
 ' va',
 ' in',
 ' mi',
 ' tx',
 ' al',
 ' ak',
 ' de',
 ' la',
 ' ms',
 ' in',
 ' nc',
 ' mn',
 ' fl',
 ' nj',
 ' ga',
 ' fl',
 ' fl',
 ' fl',
 ' az',
 ' az',
 ' tn',
 ' la',
 ' ms',
 ' ca',
 ' ca',
 ' ca',
 ' pa',
 ' in',
 ' tx',
 ' tx',
 ' tx',
 ' tx',
 ' tx',
 ' tx',
 ' tx',
 ' tx',
 ' sc',
 ' ga',
 ' fl',
 ' fl',
 ' fl',
 ' fl',
 ' tx',
 ' mt',
 ' mo',
 ' ca',
 ' ia',
 ' il',
 ' oh',
 ' ia',
 ' ks',
 ' ks',
 ' ks',
 ' wi',
 ' ga',
 ' tn',
 ' tn',
 ' mi',
 ' ut',
 ' wa',
 ' nm',
 ' nc',
 ' in',
 ' ca',
 ' il',
 ' or',
 ' or',
 ' or',
 ' ca',
 ' ca',
 ' ca',
 ' ia',
 ' pa',
 ' ia',
 ' nv',
 ' mn',
 ' ga',
 ' fl',
 ' fl',
 ' fl',
 ' fl',
 ' fl',
 ' sc',
 ' ga',
 ' nc',
 ' fl',
 ' fl',
 ' fl',
 ' nc',
 ' nc',
 ' al',
 ' tn',
 ' ny',
 ' md',
 ' mi',
 ' il',
 ' il',
 ' ca',
 ' fl',
 ' wa',
 ' pa',
 ' fl',
 ' nc',
 ' ca',
 ' fl',
 ' ny',
 ' ct',
 ' fl',
 ' il',
 ' il',
 ' il',
 ' il',
 ' il',
 ' ky',
 ' va',
 ' ca',
 ' tx',
 ' oh',
 ' ne',
 ' wa',
 ' pa',
 ' pa',
 ' pa',
 ' pa',
 ' mi',
 ' il',
 ' mi',
 ' ms',
 ' ny',
 ' ct',
 ' ks',
 ' sc',
 ' co',
 ' co',
 ' id',
 ' id',
 ' ca',
 ' ca',
 ' pa',
 ' pa',
 ' ny',
 ' nj',
 ' ny',
 ' ma',
 ' ny',
 ' tn',
 ' nh',
 ' la',
 ' ny',
 ' ma',
 ' va',
 ' oh',
 ' oh',
 ' oh',
 ' mn',
 ' mn',
 ' mn',
 ' mn',
 ' mn',
 ' ga',
 ' ga',
 ' ia',
 ' oh',
 ' oh',
 ' oh',
 ' al',
 ' oh',
 ' oh',
 ' sc',
 ' wa',
 ' wa',
 ' id',
 ' wa',
 ' pa',
 ' nc',
 ' nc',
 ' tx',
 ' sc',
 ' ca',
 ' ca',
 ' ca',
 ' me',
 ' ct',
 ' nj',
 ' nj',
 ' tx',
 ' ca',
 ' or',
 ' va',
 ' oh',
 ' ky',
 ' oh',
 ' md',
 ' md',
 ' md',
 ' nc',
 ' nc',
 ' ms',
 ' ga',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' in',
 ' tx',
 ' ks',
 ' tx',
 ' il',
 ' ca',
 ' ct',
 ' oh',
 ' oh',
 ' ct',
 ' ma',
 ' tx',
 ' tx',
 ' ca',
 ' mo',
 ' ca',
 ' il',
 ' mo',
 ' in',
 ' il',
 ' il',
 ' wa',
 ' wa',
 ' wa',
 ' nj',
 ' nc',
 ' va',
 ' ky',
 ' ma',
 ' ma',
 ' tx',
 ' va',
 ' nc',
 ' ia',
 ' al',
 ' pa',
 ' pa',
 ' pa',
 ' mn',
 ' mn',
 ' sd',
 ' mn',
 ' ky',
 ' nm',
 ' wi',
 ' ms',
 ' ms',
 ' ms',
 ' ny',
 ' ca',
 ' ca',
 ' ca',
 ' ca',
 ' ga',
 ' va',
 ' ca',
 ' md',
 ' ca',
 ' ga',
 ' ca',
 ' ca',
 ' ar',
 ' ky',
 ' az',
 ' ks',
 ' ks',
 ' me',
 ' nj',
 ' pa',
 ' va',
 ' ia',
 ' fl',
 ' fl',
 ' fl',
 ' ma',
 ' ca',
 ' ks',
 ' ma',
 ' tn',
 ' fl',
 ' ga',
 ' fl',
 ' wi',
 ' oh',
 ' ct',
 ' fl',
 ' fl',
 ' fl',
 ' fl',
 ' pa',
 ' pa',
 ' pa',
 ' pa',
 ' wa',
 ' or',
 ' wa',
 ' wa',
 ' or',
 ' md',
 ' nj',
 ' md',
 ' ma',
 ' md',
 ' mo',
 ' tn',
 ' oh',
 ' tn',
 ' oh',
 ' in',
 ' ut',
 ' wa',
 ' id',
 ' oh',
 ' il',
 ' me',
 ' ct',
 ' fl',
 ' pa',
 ' oh',
 ' mi',
 ' in',
 ' mt',
 ' ky',
 ' ny',
 ' ny',
 ' id',
 ' va',
 ' fl',
 ' nv',
 ' tx',
 ' va',
 ' ca',
 ' ca',
 ' nj',
 ' oh',
 ' ca',
 ' al',
 ' co',
 ' ct',
 ' in',
 ' oh',
 ' mi',
 ' sc',
 ' oh',
 ' ca',
 ' ca',
 ' id',
 ' va',
 ' nj',
 ' nj',
 ' fl',
 ' fl',
 ' fl',
 ' tx',
 ' ma',
 ' ma',
 ' in',
 ' ga',
 ' ut',
 ' ut',
 ' ut',
 ' nc',
 ' ga',
 ' oh',
 ' pa',
 ' in',
 ' il',
 ' in',
 ' in',
 ' wy',
 ' mn',
 ' ar',
 ' tx',
 ' fl',
 ' tx',
 ' nv',
 ' ny',
 ' fl',
 ' tn',
 ' tn',
 ' tn',
 ' tx',
 ' mo',
 ' tx',
 ' tx',
 ' ct',
 ' de',
 ' ks',
 ' ne',
 ' tx',
 ' ar',
 ' la',
 ' ok',
 ' ok',
 ' ca',
 ' nc',
 ' nc',
 ' az',
 ' az',
 ' az',
 ' az',
 ' nj',
 ' hi',
 ' ny',
 ' nj',
 ' nj',
 ' la',
 ' ma',
 ' az',
 ' ms',
 ' tx',
 ' ca',
 ' ut',
 ' ca',
 ' hi',
 ' co',
 ' ca',
 ' pa',
 ' az',
 ' az',
 ' az',
 ' ct',
 ' ma',
 ' ma',
 ' ny',
 ' ct',
 ' pa',
 ' oh',
 ' oh',
 ' ga',
 ' ga',
 ' ga',
 ' ga',
 ' ga',
 ' ut',
 ' ut',
 ' ut',
 ' ia',
 ' wi',
 ' wi',
 ' mn',
 ' mi',
 ' mi',
 ' pa',
 ' mn',
 ' nc',
 ' tx',
 ' tx',
 ' tx',
 ' ny',
 ' pr',
 ' pa',
 ' pa',
 ' mn',
 ' mn',
 ' md',
 ' md',
 ' md',
 ' md',
 ' md',
 ' ny',
 ' il',
 ' ga',
 ' ga',
 ' pr',
 ' ca',
 ' oh',
 ' ok',
 ' ok',
 ' tx',
 ' il',
 ' ok',
 ' tx',
 ' tx',
 ' tx',
 ' nc',
 ' sc',
 ' tx',
 ' al',
 ' tx',
 ' tx',
 ' in',
 ' il',
 ' nc',
 ' ga',
 ' wa',
 ' de',
 ' ca',
 ' ca',
 ' va',
 ...]

In [220]:
locations_df

,"paradise, nv","pioneer, oh","morocco, in","kingston, ny","bartlett, tn","largo, fl","chicago, il","san antonio, tx","saint petersburg, fl","phoenix, az",...,"chelsea, ma","winnebago, wi","nederland, tx","marcus hook, pa","hemlock, mi","pacifica, ca","holladay, ut","fostoria, oh","eddyville, ky","clear lake, ia"
0,5.0,4.7,4.6,4.6,4.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,4.5,4.3,4.3,4.1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.3
17046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
column_names= "x,oh"
    if x in

In [ ]:
def clean_column(x):
    if x in ['M', 'MALE']:
        return 'Male'
    elif x.startswith('F'):
        return 'Female'
    else:
        return 'U'

In [128]:
#locations_df.iloc[[0,2],[0,4]]

  paradise, nv bartlett, tn
0          5.0          4.4
2          NaN          NaN

In [ ]:
#def rename_columns(locations_df):
#    locations_df.rename(columns={'paradise,nv':'nv','pioneer,oh':'oh', 'ic1':'median_household_income',"ic2":"med_fam_income", "ic3":"avg_household_income","ic4": "avg_fam_income","ic5":"per_capita_income"}, inplace=True )
#    return hk_df

In [105]:
new_roles=company_reviews_df['roles'].apply(ast.literal_eval)
new_roles

0        {'Tier 1 Agent': '5.0', 'Director of Operation...
1                                                       {}
2                                                       {}
3        {'Packaging Technician': '5.0', 'Senior Associ...
4                                                       {}
                               ...
17045    {'Customer Service Representative': '4.0', 'In...
17046                                                   {}
17047                                                   {}
17048    {'Administrative Assistant': '4.2', 'Medical A...
17049                                                   {}
Name: roles, Length: 17050, dtype: object

In [106]:
roles_df=pd.json_normalize(new_roles)
roles_df

,Tier 1 Agent,Director of Operations,Senior Vice President,Director of Finance,Sitel,Packaging Technician,Senior Associate,Customer Service Representative,Intern,Quality Assurance Analyst,...,Spray Technician,Police Officer,Content Manager,Parts,office agent,Pax Agent,Policy Analyst,Senior Patient Accounts Representative,GIS Technician,Vehicle Operator
0,5.0,4.7,4.7,4.7,4.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0,4.7,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
new_salary=company_reviews_df['salary'].apply(ast.literal_eval)
new_salary

0        {'Customer Service Representative': '$14.48 pe...
1                                                       {}
2        {'Mental Health Technician': '$13.16 per hour'...
3        {'Packager': '$30,006 per year', 'Finisher': '...
4                                                       {}
                               ...
17045    {'Sales Consultant': '$14.97 per hour', 'Sales...
17046    {'Software Engineer': '$118,680 per year', 'Ac...
17047                                                   {}
17048    {'Customer Service Representative': '$14.65 pe...
17049    {'Insurance Agent': '$70,844 per year', 'Sales...
Name: salary, Length: 17050, dtype: object

In [108]:
salary_df=pd.json_normalize(new_salary) # in $
salary_df

,Customer Service Representative,Call Center Representative,Agent,Mental Health Technician,Therapist,Outpatient Therapist,Packager,Finisher,Senior Machinist,Senior Software Engineer,...,Director of Purchasing,Back of House Team Member,Senior Quality Assurance Analyst,Library Technician,Staff Associate,Senior Validation Engineer,Apprentice Automotive Technician,Loan Manager,Customer Assistant,Logistics Analyst
0,$14.48 per hour,$11.44 per hour,$11.72 per hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,$13.16 per hour,"$40,749 per year","$42,659 per year",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,"$30,006 per year","$29,326 per year","$53,031 per year",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17045,$12.00 per hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17048,$14.65 per hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data["Team"]= data["Team"].str.split("t", n = 1, expand = True)

In [ ]:
def clean_customer(x):
    if type(x)==str:
        x = x.replace("$", "")
        
    return x

In [ ]:
#frames = [company_reviews_df, happiness_df, ratings_df, locations_df, roles_df, salary_df]

#all_company_reviews_df = pd.concat(frames)
#all_company_reviews_df

In [122]:
#all_company_reviews_df= all_company_reviews_df.drop(['happiness'], ['ratings'], ['locations'],
                                                       ['roles'], ['salary'], axis=1)

IndentationError: unexpected indent (2460717728.py, line 2)

In [ ]:
# If you want to see the percentage of nulls in every column

#df.isna().sum()/(len(df))*100
#If you want to see the percentage of nulls in columns only with nulls:
#df.loc[:,list(df.loc[:,df.isnull().any()].columns)].isnull().sum()/(len(df))*100